@model LoginViewModel

<form asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label asp-for="@Model.UserName"></label>
        <input asp-for="@Model.UserName">
    </div>
    <div>
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password">
    </div>
    <input type="submit" value="Sign In">
</form>