@model IEnumerable<PostViewModel>

<h2>Home Page</h2>

<img src="~/content/static/home.jpeg" alt="" width="500px"/>

<ul>
    @foreach (var m in Model)
    {
        <li>
            <a asp-controller="Home" asp-action="Post" asp-route-id="@m.PostId">@m.Title</a>
        </li>
    }
</ul>