@model PostsPageViewModel

@if (!User.Identity!.IsAuthenticated)
{
    @await Html.PartialAsync("_Hero")
}

<div class="container mt-5 mb-5">
    <h1>Latest Posts</h1>
    <div class="mt-5">
        @await Html.PartialAsync("_PostsPage", Model)
    </div>
</div>