@model PostViewModel

<h2>Post Page</h2>

@if (!string.IsNullOrEmpty(Model.ImageName))
{
    var imagePath = $"/image/{Model.ImageName}";
    <img src="@imagePath" alt="" width="500px"/>
}

<h4>@Model.Title</h4>
<span>Created at @Model.Created.ToShortDateString()</span>
<p>@Model.Body</p>