@model PostViewModel

<div>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label>Title</label>
            <input asp-for="@Model.Title">
        </div>
        <div>
            <labe>Body</labe>
            <input asp-for="@Model.Body">
        </div>
        <div>
            <labe>Image</labe>
            <input asp-for="@Model.Image">
        </div>
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
</div>