@model IEnumerable<PostViewModel>

<h2>Admin Panel</h2>

<ul>
    @foreach (var m in Model)
    {
        <li>
            <label>@m.Title</label> -
            <a asp-controller="Panel" asp-action="Edit" asp-route-id="@m.PostId">Edit</a> -
            <a asp-controller="Panel" asp-action="Remove" asp-route-id="@m.PostId">Remove</a>
        </li>
    }
</ul>