<footer class="p-4 flex-h flex-h-sb footer-light">
    <div class="block">
        <span>Pavel Kulakov, @DateTime.Now.Year</span>
    </div>
    <div class="block">
        <span>Source code on <a href="https://github.com/k-paul-acct/blog-example" target="_blank">GitHub</a></span>
    </div>
</footer>