<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="en"/>
    <title>@ViewData["Title"]</title>
</head>
<body>

<div>
    <a asp-controller="Home" asp-action="Index">Home</a>
    <a asp-controller="Home" asp-action="Create">Create Post</a>
</div>

<div>
    @RenderBody()
</div>

</body>
</html>